<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<form action="#" th:object="${messageForm}" method="POST" th:action="@{/animal}">
    <label for="animalText">Enter an Animal: </label>
    <input type="text" id="animalText" name="animalText" th:field="*{animalName}">
    <label for="adjective">Enter an Adjective:</label>
    <input type="text" id="adjective" name="adjective" th:field="*{adjective}">
    <input type="submit">
</form>
<h1 th:unless="${#lists.size(myList)>5}" th:each="msg : ${greetings}"
    th:text="${msg}" >Hello, homepage!</h1>
<h1  th:if="${lists}">I think that's enough!</h1>
</body>
</html>